APP_PORT=3000
DB_PORT=27017
MONGO_EXPRESS_UI_PORT=3001
MAILCATCHER_PORT=3002

DATABASE_VOLUME_MOUNT=./psvolumes/data/db/
DB_NAME=time-track-db
MONGO_USERNAME=root
MONGO_PASSWORD=testpassword

MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=password